
set_io clk12MHz P7

set_io led1 C10
set_io led2 A10
set_io led3 D7
set_io led4 D6
set_io led5 A7
set_io led6 C7
set_io led7 A4
set_io led8 C4
set_io lcol1 A12
set_io lcol2 D10
set_io lcol3 A6
set_io lcol4 C5

set_io test_A3 A3
set_io test_A2 A2
set_io test_A1 A1
set_io test_C3 C3
set_io test_D3 D3
set_io test_B1 B1


